<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Удобный сервис 3d печати с доставкой</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Loading Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/dropzone.css" rel="stylesheet">
        <link href="/css/admin.css" rel="stylesheet">
        <link href="/css/select2.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon.ico">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="js/vendor/html5shiv.js"></script>
          <script src="js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <%- include nav.ejs %>
        <div class="container">
            <div class="row">
                <h1 class="text-center">Добавить принтер</h1>
                <div class="col-md-6">
                    <h2 class="text-center">Изображения принтера</h2>
                    <div class="dropzone" id="printerpics">
                        
                    </div>
                    <h2 class="text-center">Изображения изделий</h2>
                    <div class="dropzone" id="printpics">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Характеристики</h2>
                    <div class="form-group">
                        <label for="materials">Название</label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="materials">Материалы</label>
                        <select name="materials" id="materials" class="form-control" multiple="multiple">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="desc">Описание</label>
                        <textarea class="form-control" name="desc" id="desc"></textarea>
                    </div>
                    <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="dot">Детализация (мм)</label>
                        <input class="form-control" type="text" name="dot" id="dot">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="layer">Высота слоя (мм)</label>
                        <input class="form-control" type="text" name="layer" id="layer">
                    </div>
                    </div>
                    <div class="row thumbnail">
                        <p class="text-center">Размер рабочей области (мм)</p>
                        <div class="col-md-4 form-group">
                            <label for="layer">Высота</label>
                            <input class="form-control" type="text" name="h" id="h">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="layer">Ширина</label>
                            <input class="form-control" type="text" name="w" id="w">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="layer">Длина</label>
                            <input class="form-control" type="text" name="d" id="d">
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-sm btn-danger" id="save">Сохранить</button>
                </div>
            </div>
            <div class="row">
                <h1 class="text-center">Доступные принтеры</h1>
                <div class="col-md-12" id="printers">
                    <% for(var i = 0, lgth = printers.length; i < lgth; i++) {%>
                        <div class="col-md-3">
                            <%= printers[i] %>
                            <div class="thumbnail">
                                <button type="button" class="close" data-id="<%= printers[i]._id %>"><span aria-hidden="true">&times;</span></button>
                                <img src="<%= printers[i].thumbs[0] %>">
                                <div class="caption">
                                    <h2><%= printers[i].name %></h2>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        
        <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
        <script src="/js/jquery-1.10.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!--<script src="/js/flat-ui.min.js"></script>-->
        <script src="/js/dropzone.js"></script>
        <script src="/js/select2.min.js"></script>
        <script src="/js/admin/printers.js"></script>
    </body>
</html>